@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Page.Title = "Calendar";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="align-content:center">
        <div class="jumbotron">
            <h1>@Page.Title</h1>
            <div class="hidden-sm hidden-xs"> 
                <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23cc0000&amp;src=alchemist%40agoknights.com&amp;color=%23A32929&amp;ctz=America%2FChicago" style="border-width:0;display:block;margin:auto" width="800" height="600" frameborder="0" scrolling="no"></iframe>
            </div>
            <div class="visible-sm visible-xs">
                <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23cc0000&amp;src=alchemist%40agoknights.com&amp;color=%23A32929&amp;ctz=America%2FChicago" style="border-width:0;display:block;margin:auto" width="400" height="600" frameborder="0" scrolling="no"></iframe>
            </div>
        </div>
    </div>
</div>
